<nav class="navbar">
  <span class="brand">Poker App</span>
  
  <div class="nav-items">
    <div class="nav-item">
      <button (click)="toggleDropdown('utenti')">Utenti</button>
      <div class="dropdown" *ngIf="activeDropdown === 'utenti'">
        <a [routerLink]="['/utenti']" (click)="closeDropdown()">Lista Utenti</a>
        <a [routerLink]="['/utenti/nuovo']" (click)="closeDropdown()">Nuovo Utente</a>
      </div>
    </div>

    <div class="nav-item">
      <button (click)="toggleDropdown('tavoli')">Tavoli</button>
      <div class="dropdown" *ngIf="activeDropdown === 'tavoli'">
        <a [routerLink]="['/tavoli']" (click)="closeDropdown()">Lista Tavoli</a>
        <a [routerLink]="['/tavoli/nuovo']" (click)="closeDropdown()">Nuovo Tavolo</a>
      </div>
    </div>
  </div>
</nav>