<mat-toolbar color="primary">
  <span>Poker App</span>
  <span class="toolbar-spacer"></span>
  
  <ng-container *ngIf="isLoggedIn()">
    <!-- Users Menu -->
    <button mat-button [matMenuTriggerFor]="utentiMenu">
      Utenti
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #utentiMenu="matMenu">
      <button mat-menu-item [routerLink]="['/utenti']">
        <mat-icon>people</mat-icon>
        <span>Lista Utenti</span>
      </button>
      <button mat-menu-item [routerLink]="['/utenti/nuovo']">
        <mat-icon>person_add</mat-icon>
        <span>Nuovo Utente</span>
      </button>
    </mat-menu>

    <!-- Tables Menu -->
    <button mat-button [matMenuTriggerFor]="tavoliMenu">
      Tavoli
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #tavoliMenu="matMenu">
      <button mat-menu-item [routerLink]="['/tavoli']">
        <mat-icon>table_chart</mat-icon>
        <span>Lista Tavoli</span>
      </button>
      <button mat-menu-item [routerLink]="['/tavoli/nuovo']">
        <mat-icon>add_box</mat-icon>
        <span>Nuovo Tavolo</span>
      </button>
    </mat-menu>
  </ng-container>

  <!-- Auth Buttons -->
  <ng-container *ngIf="!isLoggedIn(); else loggedInButtons">
    <button mat-raised-button color="accent" (click)="login()" class="auth-button">
      <mat-icon>login</mat-icon>
      Accedi
    </button>
    <button mat-raised-button color="accent" (click)="register()" class="auth-button">
      <mat-icon>person_add</mat-icon>
      Registrati
    </button>
  </ng-container>
  <ng-template #loggedInButtons>
    <button mat-raised-button color="warn" (click)="logout()" class="auth-button">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </ng-template>
</mat-toolbar>